.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .logo {
    width: 100px;
    margin-bottom: 20px;
  }
  
  .login-card {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .tab {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tab-button {
    flex: 1;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #ddd;
    color: #333;
    font-weight: bold;
  }
  
  .tab-button.active {
    background-color: #f44336; /* color rojo */
    color: white;
  }
  
  h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    text-align: left;
    margin: 5px 0;
  }
  
  input {
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #555;
  }
  
  p {
    margin-top: 15px;
    font-size: 14px;
  }
  
  p a {
    color: #f44336; /* color rojo */
    text-decoration: none;
  }
  .tab-button.active {
    background-color: #f44336; /* Color rojo para la pestaña activa */
    color: white;
  }
  
  .tab-button {
    flex: 1;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #ddd;
    color: #333;
    font-weight: bold;
  }
  